@model List<string>

@{
    ViewBag.Title = "Home Page";
}

<h2>My Items</h2>
<h3>Cookie Item: @ViewBag.Item</h3>

@Html.ActionLink("Add Item", "AddItem")
<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>